<div class="header-container">
    <div class="header" id="header_">
        <ul>
            <li><img src="assets/img/logo.png" alt="LogoPetFriends"></li>
            <li class="icon">
                <a style="display: flex; align-items: center;" href="javascript:void(0);" (click)="ResponsiveSwitch()">
                    <img id="menu" src="../assets/img/menu.png">
                </a>
            </li>
            <li><a routerLink="/Inicio" (click)="RemoveMenu()">Inicio</a></li>
            <li><a routerLink="/Planes" (click)="RemoveMenu()">Planes</a></li>
            <li><a routerLink="/Embajadores" (click)="RemoveMenu()">Embajadores</a></li>
            <li><a routerLink="/Registro" (click)="RemoveMenu()">Registrate</a></li>
            <li><a routerLink="/Login" (click)="RemoveMenu()">Ingresa</a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
<div class="footer-container">
    <div class="footer">
        <div>
            <img src="assets/img/logo.png">
            <label>Cuidado integral</label>
            <label>para nuestros amiguitos</label>
        </div>
        <div>
            <img src="../assets/img/co_flag.png ">
            <label>Bogotá, Colombia.</label>
            <label>(+57) 317-764-1298</label>
            <label>(+1) 431-48-03</label>
        </div>
        <div>
            <img src="../assets/img/wa.png">
            <label>¡Contacta un asesor!</label>
        </div>
    </div>
</div>