<div class="container">
    <div class="inner-container">
        <h1 id="name">Cuidamos a tu mascota</h1>
        <h1 id="name">con el mayor de los amores</h1>
        <div class="hai">
            <p id="subtitle">Confía en nuestro sistema de embajadores amorosos para cuidar a tu mascota el día que desees y con comunicación permanente con nuestros trabajadores, nunca pierdas contacto con lo más fieles de la casa.</p>
        </div>
    </div>
    <div class="inner-containerd">
        <img class="blob" src="/assets/img/blob.png" alt="">
        <img class="hand" src="/assets/img/char1.png" alt="">
    </div>
</div>
<div class="container-fake">
    <div class="inner-containerd">
        <img class="blobt" src="/assets/img/blob.png" alt="">
        <img class="hand" src="/assets/img/char2.png" alt="">
    </div>
    <div class="inner-container">
        <h1 id="name">El mejor personal</h1>
        <h1 id="name">de la ciudad</h1>
        <div class="hai">
            <p id="subtitle">Cada embajador que estará a disposición de tu mascota, cada uno de nuestros trabajadores ha sido escogido con los más altos estándares de exigencia y calidad merecida por nuestros amigos caninos y felinos.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="inner-container">
        <h1 id="name">Tu mandas aquí!</h1>
        <div class="hai">
            <p id="subtitle">Si tienes tiempos periódicos en los que debes abandonar a tu mejor amigo, consulta nuestra metodología de planes con diversos descuentos y apoyos para que pagues un solo contado por un tiempo determinado y prepagado por ti. </p>
        </div>
    </div>
    <div class="inner-containerd">
        <img class="blob" src="/assets/img/blob.png" alt="">
        <img class="hand" src="/assets/img/char3.png" alt="">
    </div>
</div>
<div class="container">
    <a class="button" routerLink="/Planes">Consulta nuestros planes</a>
</div>